In [1]:
print("Hello world")

Hello world

In [2]:
var1 = 3

In [3]:
print(var1)

3

In [4]:
print(var1+2)

5

In [5]:
# floating number

print(4.)

4.0

In [6]:
a = 1
b = 30
a+b

31

In [9]:
#modulo (untuk lihat ganjil genap)
11%2

1

In [10]:
#pembagian tanpa koma
11//2

5

sama dengan ==
tidak sama dengan !=

In [11]:
a = 10
b = 11
print(a==b)

False

In [13]:
print(a!=b)

True

In [14]:
#operator ternary

umur = input("berapa umur kamu?")
print(type(umur)) #untuk melihat tipe inputnya

aku = "anak" if int(umur) < 10 else "dewasa"
print(aku)

berapa umur kamu?25
<class 'str'>
dewasa

In [32]:
#string manipulation
x = 'zwes'
y = 'ty'
z = 'ts'

print(x+y+z)

print("Hacktiv8 "+ "Latihan")

print(x*4)

s = 'Hacktiv8'

#lower
print(s.lower())

#upper
print(s.upper())

#swapcase
print(s.swapcase())

r = 'HALO HALO BANDUNG'

#capitalize
print(r.capitalize())

#title
print(r.title())

zwestyts
Hacktiv8 Latihan
zweszweszweszwes
hacktiv8
HACKTIV8
hACKTIV8
Halo halo bandung
Halo Halo Bandung

In [19]:
#LIST

lstA = ['zwes','ty','tri','a','sa']

#get first item on the list
lstA[0]

'zwes'

In [20]:
#get last item on the list
lstA[-1]

'sa'

In [23]:
#get item number 2 until number 4
#expected result 'ty','tri','a'
lstA[1:4]

['ty', 'tri', 'a']

In [24]:
#add item to the list
lstA += ['bi', 'la']
print(lstA)

['zwes', 'ty', 'tri', 'a', 'sa', 'bi', 'la']

In [26]:
#modify item number 3
#expected result ['zwes', 'ty', 31, 'a', 'sa', 'bi', 'la']
lstA[2] = 31
print(lstA)

['zwes', 'ty', 31, 'a', 'sa', 'bi', 'la']

In [27]:
#delete item number 4
#expected result ['zwes', 'ty', 31, 'sa', 'bi', 'la']
del lstA[3]
print(lstA)

['zwes', 'ty', 31, 'sa', 'bi', 'la']

In [34]:
#lenght min max
print(len(lstA))

del lstA[2]

print(min(lstA))
print(max(lstA))

6
bi
zwes

In [38]:
#cara mencari data pada list
buah = ['jeruk','mangga','apel']

#dengan operator in
print('jeruk' in buah)

#dengan index
print(buah.index('mangga'))
print(buah.index('anggur')) #not in the list

True
1

ValueError: 'anggur' is not in list